
*{
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
}
body{
   background-color:darkgrey;
   display:flex;
   justify-content:center;
   padding-top:150px;
}
.calculator{
   border:5px;
   border-style:ridge;
   padding-top:15px;
   border-radius:25px;
   border-color:black
}
.display{
   padding-bottom:5px;
   padding-right:7px;
   border:3px;
   border-style:inset;
   border-color:black;
   border-radius:25px;
   font-size:35px;
   text-align:right;
   

}
#button{
   height:300px;
   width: 300px;
   padding-top:15px;
   padding-bottom:15px;
   padding-left:26px;
   padding-right:22px;
   border-radius: 20px; 
   border-style:groove;
   border-color:black;
   display:grid;
   grid-template-columns: repeat(4,5fr);
   gap:15px;
}
